<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.InquiryMapper">

	<!-- 問い合わせ内容DB登録 -->
	<insert id="registerInquiryInfo">
		insert into inquiries(
		lastName,
		firstName,
		email,
		content,
		created_at
		)
		values(
		#{lastName},
		#{firstName},
		#{email},
		#{content},
		CURRENT_TIMESTAMP
		)
	</insert>
	
</mapper>